xml-spec/inRents.dtd

<!ELEMENT inRents (inRent*)>
<!ELEMENT inRent (videoUnit*)>
<!ELEMENT videoUnit EMPTY>

<!ATTLIST inRents	minID NMTOKEN #REQUIRED>
<!ATTLIST inRent	rID NMTOKEN #REQUIRED
					customerID NMTOKEN #REQUIRED
					date NMTOKEN #REQUIRED
					duration NMTOKEN #REQUIRED
					warned (true|false) "false">
<!ATTLIST videoUnit	uID NMTOKEN #REQUIRED>