xml-spec/videos.dtd

<!ELEMENT videos (video*)>
<!ELEMENT video(vID, title, releaseDate, priceCategoryID, ratedAge, videoUnit*)>
					
<!ELEMENT vID(#PCDATA)>
<!ELEMENT title(#PCDATA)>
<!ELEMENT releaseDate(#PCDATA)>
<!ELEMENT priceCategoryID(#PCDATA)>
<!ELEMENT ratedAge(#PCDATA)>


<!ELEMENT videoUnit(uID, videoID)>

<!ELEMENT uID(#PCDATA)>
<!ELEMENT videoID(#PCDATA)>